In [1]:
import pandas as pd
import numpy as np
import os
import sys
import scanpy as sc


import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.colors as mcolors
from mpl_toolkits.axes_grid1.inset_locator import inset_axes

In [2]:
fpath = "/nfs/turbo/umms-indikar/shared/projects/adaptive_sampling/data/tabula_sapiens_filtered.h5ad"
pdf = sc.read_h5ad(fpath)
pdf

AnnData object with n_obs × n_vars = 27346 × 58870
    obs: 'organ_tissue', 'method', 'donor', 'anatomical_information', 'n_counts_UMIs', 'n_genes', 'cell_ontology_class', 'free_annotation', 'manually_annotated', 'compartment', 'gender', 'celltype', 'record_id', 'cell_id'
    var: 'gene_symbol', 'feature_type', 'ensemblid', 'highly_variable', 'means', 'dispersions', 'dispersions_norm', 'mean', 'std'
    uns: '_scvi', '_training_mode', 'dendrogram_cell_type_tissue', 'dendrogram_computational_compartment_assignment', 'dendrogram_consensus_prediction', 'dendrogram_tissue_cell_type', 'donor_colors', 'donor_method_colors', 'hvg', 'log1p', 'method_colors', 'neighbors', 'organ_tissue_colors', 'sex_colors', 'tissue_colors', 'umap'
    obsm: 'X_pca', 'X_scvi', 'X_scvi_umap', 'X_umap'
    layers: 'decontXcounts', 'raw_counts'
    obsp: 'connectivities', 'distances'

In [3]:
""" Build a tall data table'"""
cdf = pdf.layers['raw_counts'].todense()
cdf = pd.DataFrame(cdf, columns=pdf.var.index)
cdf['cell_id'] = pdf.obs['cell_id'].to_list()

cdf.head()
cdf = pd.melt(cdf, id_vars='cell_id', var_name='gene')

print(f"{cdf.shape=}")
cdf = cdf[cdf['value'] > 0].reset_index(drop=True)
cdf['prob'] = cdf['value'] / cdf['value'].sum()
print(f"{cdf.shape=}")
cdf.head()

cdf.shape=(1609859020, 3)
cdf.shape=(94783588, 4)

    cell_id     gene  value          prob
0  HSC_7803  DDX11L1    3.0  2.218226e-09
1  HSC_7865  DDX11L1    1.0  7.394086e-10
2  HSC_7892  DDX11L1    2.0  1.478817e-09
3  HSC_7912  DDX11L1   17.0  1.256995e-08
4  FB_23149  DDX11L1    1.0  7.394086e-10

In [4]:
outpath = "/nfs/turbo/umms-indikar/shared/projects/adaptive_sampling/data/sample_table.parquet"
cdf.to_parquet(outpath, index=False)
cdf.head()

    cell_id     gene  value          prob
0  HSC_7803  DDX11L1    3.0  2.218226e-09
1  HSC_7865  DDX11L1    1.0  7.394086e-10
2  HSC_7892  DDX11L1    2.0  1.478817e-09
3  HSC_7912  DDX11L1   17.0  1.256995e-08
4  FB_23149  DDX11L1    1.0  7.394086e-10

In [5]:
break

SyntaxError: 'break' outside loop (668683560.py, line 1)